<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
